{% extends 'base.html' %}
{% block title %}
    CARS BG
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/about.css" />
{% endblock %}
{% block content %}
    <section class="about-us">
        <h1 class="about-main">About US</h1>
        <img src="../../static/img/logo.png" alt="Logo" class="logo">
        <p class="text">
            Cars.BG is your collaborator in the search,
            supply and purchase of your car.
            Here you will find the greatest diversity
            in the country with our improved study
            on the types of cars. Workshops scattered
            throughout the country allow for fast,
            easy and efficient repair and consultation on your vehicles.
            With the millions of cars we offer, finding a new car will be an easy task with Cars.BG.
        </p>
    </section>
{% endblock %}
