{% extends 'base.html' %}

{% block title %}
    CARS BG ADVERT
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/advert.css' %}" />
{% endblock %}

{% block content %}
    <div class="card">
        <img src="/static/img/test_img_car.jpg" alt="Avatar" style="width:100%" width="400" height="367">
        <div class="container">
            <h4><b>Create Car Advert</b></h4>
            <a href="{%  url 'create-car-advert' %}" class="details_btn">Create</a>
        </div>
    </div>
    <div class="card">
        <img src="/static/img/car_service.png" alt="Avatar" style="width:100%" width="600" height="367">
        <div class="container">
            <h4><b>Create Service Advert</b></h4>
            <a href="{% url 'create-car-service' %}" class="details_btn">Create</a>
        </div>
    </div>
    <div class="card">
        <img src="/static/img/rent-a-car.jpg" alt="Avatar" style="width:100%" width="600" height="367">
        <div class="container">
            <h4><b>Create Rent a Car Advert</b></h4>
            <a href="{% url 'create-rent-a-car' %}" class="details_btn">Create</a>
        </div>
    </div>
{% endblock %}

