{% extends 'base.html' %}

{% block title %}
 CARS.BG CREATE CAR SERVICE
{% endblock %}

{% block style %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/car_advert_form.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="form">
    {% if request.user.is_authenticated %}

        <h1 class="title">LIST RENT A CAR</h1>
        <form class="register-form" method="post" action="{% url 'create-rent-a-car' %} ">

            {{ form.errors }}
            {% load test %}
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                {{ form.name|placeholder:'Name' }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.description|placeholder:'Description' }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.cars|placeholder:'Cars' }}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.time_open|placeholder:'Opening at' }}
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.time_close|placeholder:'Close in' }}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.location|placeholder:'Location' }}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.logo|placeholder:'Logo URL' }}
            </div>

            <button type="submit" class="register-btn">LIST</button>
            {% csrf_token %}
        </form>
    {% else %}
        <h1>You are not authenticated to do that</h1>
        <br>
        <h1>Go <a href="{% url 'login' %}">SingIn</a> or <a href="{% url 'register' %}">SingUp</a></h1>
    {% endif %}
    </div>
{% endblock %}