{% extends 'base.html' %}

{% block title %}
    CARS.BG SERVICES
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main-services.css' %}" />    <link rel="stylesheet" type="text/css" href="{% static '/css/main-services.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
{% endblock %}

{% block content %}
    <section class="main">
        <h1 class="title">Services</h1>

        <div class="card">
            <img src="/static/img/car_service.png" alt="Avatar" style="width:100%" width="400" height="367">
            <div class="container">
                <h4><b>View Car Services</b></h4>
                <a href="{%  url 'create-car-service' %}" class="View_btn">View</a>
            </div>
        </div>

     <div class="card">
            <img src="/static/img/rent-a-car.jpg" alt="Avatar" style="width:100%" width="400" height="367">
            <div class="container">
                <h4><b>View Rent A Cars</b></h4>
                <a href="{%  url 'create-car-advert' %}" class="View_btn">View</a>
            </div>
        </div>
    </section>
{% endblock %}