{% extends 'base.html' %}

{% block title %}
    CARS BG PROFILE DETAILS
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/profile-details.css" />
{% endblock %}

{% block content %}
    <section class="main">
        <form method="post" action="{% url 'car-delete' pk %}">
            <div class="delete-dialog" id="deletePop">
                <h1>Do you want to delete this car</h1>
                <div class="btns">
                    <button type="submit" href="" class="btn-yes" >Yes</button>
                    <button href="{% url 'car details' pk %}" class="btn-no">No</button>
                </div>
                {% csrf_token %}
            </div>
        </form>
    </section>
{% endblock %}