{% extends 'base.html' %}

{% block title %}
    CARS BG CAR DETAILS
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/car_details.css' %}" />
{% endblock %}

{% block content %}
<section class="main">
    <h1 class="title">Car Details</h1>
    
    <div class="info">
        <h1 class="car-brand">Car Brand: {{ car.car_brand }}</h1>
        <h1 class="car-model">Car Model: {{ car.car_model }}</h1>
        <h1 class="car-engine">Car Engine: {{ car.engine }}</h1>
        <h1 class="car-type-fuel">Type Of Fuel: {{ car.type_of_fuel }}</h1>
        <h1 class="car-year">Year: {{ car.year }}</h1>
        <h1 class="car-price">Price: {{ car.price }}</h1>
        <h1 class="">Owner: <a href="{% url 'profile-details' car.user.id %}" class="owner">{{ car.user }}</a></h1>
    </div>

    <div class="car-description">
        <h1 class="car-description-title">Car Description</h1>
        <p class="car-description-p">{{ car.description }}</p>
    </div>

    <img src="../../static/img/test_img_car.jpg" alt="Smiley face" class="image" >
</section>
{% endblock %}