{% extends 'base.html' %}

{% block title %}
 CARS.BG CREATE CAR SERVICE
{% endblock %}

{% block style %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/car_advert_form.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="form">
    {% if car.user == request.user %}
        <h1 class="title">EDIT CAR</h1>
        <form class="register-form" method="post" action="{% url 'car-edit' car.id %} ">

            {{ form.errors }}
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                {{ form.car_brand }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.car_model }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.engine }}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.type_of_fuel }}
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.description}}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.year }}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.price }}
            </div>


            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.images }}
            </div>

            <button type="submit" class="register-btn">EDIT</button>
            {% csrf_token %}
        </form>
    {% else %}
        <h1>You are not authenticated to do that</h1>
    {% endif %}
    </div>
{% endblock %}