{% extends 'base.html' %}

{% block title %}
CARS BG CHATS
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
    <section class="main">

        <div class="chats">
        <h1 class="title">Chats</h1>
            {% for chat in chats %}
                <a href="{% url 'chat' %}?chat_room={{ chat.0.name }}"><div class="chat">
                    {% for chat_user in chat.1 %}
                        {% if chat_user != request.user.username %}
                            <h1 class="name"> {{ chat_user }}</h1>
                        {% endif %}
                    {% endfor %}
                </div></a>
            {% endfor %}
        </div>
        <div class="message">
            <div class="chat-messages">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.sender == request.user %}
                            <div class="container darker">
                                {% if request.user.profile_picture != None %}
                                    <img src="{{ request.user.profile_picture }}" alt="Avatar" class="right" style="width:100%;">
                                {% else %}
                                    <img src="{% load static %} {% static 'img/profile_img.png' %}" alt="Avatar" class="right" style="width:100%;">
                                {% endif %}
                                <p>{{ message.text }}</p>
                                <span class="time-left">{{ message.timestamp}}</span>
                            </div>
                        {% else %}
                            <div class="container">
                            {% if message.sender.profile_picture != None %}
                                    <img src="{{ message.sender.profile_picture }}" alt="Avatar" style="width:100%;">
                                {% else %}
                                    <img src="{% static 'img/profile_img.png' %}" alt="Avatar" style="width:100%;">
                                {% endif %}
                                <p>{{ message.text }}</p>
                                <span class="time-right">{{ message.timestamp }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <h1>No messages in the chat or no selected chat</h1>
                {% endif %}
            </div>
            <div class="send-message">
                {% if selected_chat_room != None %}
                    <form method="post" action="{% url 'send_message' selected_chat_room.name %}">
                        <input type="text" name="message" required id="id_message" class="input">
                        <button type="submit" class="send">send</button>
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>
        </div>


    </section>
{% endblock %}