{% block title %}
    CARS BG REGISTER
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

    {% load test %}
    <div class="form">
        <form class="register-form" method="post">
            <h1 class="title">Profile Edit</h1>
            {{ form.errors }}
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                {{ form.username|placeholder:'Username: ' }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.first_name|placeholder:'First Name: '}}
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.last_name|placeholder:'Last Name: '}}
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.profile_picture|placeholder:'profile_picture: '}}
            </div>

            <button type="submit" class="register-btn">SAVE</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}