{% block title %}
    CARS BG REGISTER
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="../../static/css/register.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

    {% load test %}
    <div class="form">
        <form class="register-form" method="post" action="{% url 'register' %}">
            <h1 class="title">REGISTER</h1>
            {{ form.errors }}
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                {{ form.username|placeholder:'Username: ' }}
            </div>

            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                {{ form.email|placeholder:'Email: '}}
            </div>

            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.password1|placeholder:'Password: ' }}
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                {{ form.password2|placeholder:'Repeat Password'}}
            </div>
            <button type="submit" class="register-btn">REGISTER</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}